@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --anthrazit: #0b0c17;
    --red: #ff3571;
    --lightgrey: #dddddd;
    --blue: #3C30FF;
    --white: #FFF;
    --black: #000;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

p{
    line-height: 1.75;
}

h1{
    font-size: 1.25rem;
    font-weight: 500;
}

h2{
    font-size: 3.5rem;
    font-weight: 600;
}

h3{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
}

h3 span img{
    height: 3rem;
}

header p,
footer p{
    font-size: 1.15rem;
}

p{
    font-size: 0.9rem;
}

/* ===== HEADER ===== */

header{
    background-image: url(../img/ilustracion1.png);
    background-size: 50%;
    background-position: top right;
    background-repeat: no-repeat;
    min-height: 90vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
}

/* ----- LOGO LEISTE ----- */

.logo{
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 20px;
    padding-top: 20px;
}

.logo img{
    width: 35px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    position: fixed;
}

.logo h1{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    padding-bottom: 1.25rem;
}

.logo p{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 0.75rem;
}

/* ----- TEXTBLOCK ----- */

header h2,
header p:not(.logo p),
header a
{
    width: 50%;
    padding-left: 80px;
}

header h2{
    padding-top: 60px;
    padding-bottom: 15px;
}

header span img{
    height: 1.5rem;
}

header a{
    padding-top: 5rem;
    color: var(--red);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.75rem;
}

/* ----- ANIMATION ----- */

.moving-guy img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes jump {
    100%{
        transform: translateY(10px);
    }
}

/* ===== MAIN ===== */

section{
    width: 100vw;
}

/* ----- WORK OVERVIEW ----- */

section:nth-of-type(1) img{
    width: 100%;
}

/* ----- EVERY IDEA STARTS WITH A NEED ----- */

section:nth-of-type(2){
    display: flex;
    padding: 220px 120px 40px 120px;
}

section:nth-of-type(2) h3{
    width: 30vw;
    padding-right: 40px;
}

section:nth-of-type(2) p{
    width: 50vw;
}

/* ----- AFTER SEVERAL WEEKS ... ----- */

section:nth-of-type(3){
    padding: 80px 120px 60px 120px;
}

section:nth-of-type(3) h3{
    padding-bottom: 140px;
    width: 50vw;
}

section:nth-of-type(3) article{
    display: flex;
    flex-wrap: wrap;
}

section:nth-of-type(3) article div{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 30px 1fr;
    width: 42%;
    margin-bottom: 60px;
}

section:nth-of-type(3) article div:nth-of-type(1),
section:nth-of-type(3) article div:nth-of-type(3){
    margin-right: 100px;
}


section:nth-of-type(3) article div img{
    width: 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-right: 20px;
}

section:nth-of-type(3) article div h4{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-bottom: 0.5rem;
}

section:nth-of-type(3) article div p{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* ----- ARE YOU READY? ... ----- */

section:nth-of-type(4){
    padding-bottom: 30px;
}

section:nth-of-type(4) article{
    display: flex;
    flex-wrap: wrap;
}

section:nth-of-type(4) h3:not(div h3){
    padding-bottom: 30px;
}

section:nth-of-type(4) h3:not(div h3),
section:nth-of-type(4) p:not(div p){
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section:nth-of-type(4) p:not(div p){
    font-size: 1.15rem;
    padding-bottom: 60px;
}

section:nth-of-type(4) img:not(div img),
section:nth-of-type(4) div{
    width: 50%;
    padding: 0 80px 40px 80px;
    object-fit: contain;
}

section:nth-of-type(4) img:not(div img){
    max-height: 500px;
}

section:nth-of-type(4) div h3{
    color: var(--lightgrey);
    padding-bottom: 40px;
    font-size: 4rem;
}

section:nth-of-type(4) div img{
    padding-bottom: 20px;
}

section:nth-of-type(4) div h4{
    padding-bottom: 1rem;
}

section:nth-of-type(4) img:nth-of-type(1){
    order: 1;
}

section:nth-of-type(4) div:nth-of-type(1){
    order: 2;
}

section:nth-of-type(4) img:nth-of-type(2){
    order: 4;
}

section:nth-of-type(4) div:nth-of-type(2){
    order: 3;
}

section:nth-of-type(4) img:nth-of-type(3){
    order: 5;
}

section:nth-of-type(4) div:nth-of-type(3){
    order: 6;
}

section:nth-of-type(4) img:nth-of-type(4){
    order: 8;
}

section:nth-of-type(4) div:nth-of-type(4){
    order: 7;
}

/* ===== FOOTER ===== */

footer{
    text-align: center;
    padding: 0 60px 0 60px;
}

footer h3,
footer p{
    padding-bottom: 30px;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

input[type="email"],
input[type="submit"]{
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}

input[type="email"]{
    width: 100%;
    background-color: var(--white);
    font-size: 1.25rem;
    box-shadow:  0px 0px 40px 5px var(--lightgrey);
}

input[type="submit"]{
    width: 60%;
    background-color: var(--red);
    color: var(--white);
    font-size: 1rem;
}

input[type="submit"]:hover{
    background-image: linear-gradient(to right, var(--red), var(--blue));
}

footer article{
    text-align: left;
    padding-top: 120px;
}

footer article p{
    font-size: 0.9rem;
}

footer article p span{
    padding-left: 10px;
}

/* ===== MEDIA QUERIES ===== */

/* Alles größer als 1201 px: EXTRA LARGE */

@media (min-width: 1201px) {
    header, 
    section,
    footer{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ----- MEDIUM - 601-900 PX ----- */

@media (min-width: 601px) and (max-width: 900px) {
    section:nth-of-type(2){
        flex-direction: column;
        padding: 120px 60px 40px 60px;
    }
    
    section:nth-of-type(2) h3{
        width: 80%;
        padding-right: unset;
        padding-bottom: 20px;
    }
    
    section:nth-of-type(2) p{
        width: 100%;
    }

    section:nth-of-type(3){
        padding: 65px 60px 60px 60px;
    }

    section:nth-of-type(3) h3{
        padding-bottom: 100px;
        width: 77vw;
    }

    section:nth-of-type(3) article div{
        width: 100%;
        margin-bottom: 60px;
    }

    section:nth-of-type(3) article div:nth-of-type(1),
    section:nth-of-type(3) article div:nth-of-type(3){
        margin-right: unset;
    }

    /* ARE YOU READY? ... */

    section:nth-of-type(4) div img{
        display: none;
    }
}

/* ----- SMALL - BIS 600 PX ----- */

@media (max-width: 600px) {

    /* HEADER */

    header{
        background-size: 70%;
        position: relative;
    }

    header h2{
        padding-top: 50%;
        width: 100%;
        font-size: 3rem;
    }
    header p:not(.logo p){
        width: 80%;
    }

    header h2, header p:not(.logo p), header a{
        padding-left: 65px;
        padding-right: 60px;
        width: 100%;
    }
    .moving-guy img{
        top: 50px;
        right: 10%;
    }

    /* EVERY IDEA STARTS WITH A NEED */

    section:nth-of-type(2){
        flex-direction: column;
        padding: 120px 60px 40px 65px;
    }
    
    section:nth-of-type(2) h3{
        width: 100%;
        padding-bottom: 30px;
    }
    
    section:nth-of-type(2) p{
        width: 100%;
    }

    /* AFTER SEVERAL WEEKS ... */

    section:nth-of-type(3){
        padding: 60px 60px 60px 65px;
    }

    section:nth-of-type(3) h3{
        padding-bottom: 100px;
        width: 77vw;
    }

    section:nth-of-type(3) article div{
        width: 100%;
        margin-bottom: 60px;
    }

    section:nth-of-type(3) article div:nth-of-type(1),
    section:nth-of-type(3) article div:nth-of-type(3){
        margin-right: unset;
    }

    /* ARE YOU READY? ... */

    section:nth-of-type(4){
        padding-bottom: 30px;
    }

    section:nth-of-type(4) h3:not(div h3),
    section:nth-of-type(4) p:not(div p){
        width: 100%;
        padding-left: 65px;
        padding-right: 60px;
    }

    section:nth-of-type(4) img:not(div img),
    section:nth-of-type(4) div{
        width: 100%;

    }

    section:nth-of-type(4) img:not(div img){
        max-height: 500px;
        padding-bottom: unset;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    section:nth-of-type(4) div{
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: auto auto auto;
    }

    section:nth-of-type(4) div h3{
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    section:nth-of-type(4) div img{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: none;
    }

    section:nth-of-type(4) div h4{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    section:nth-of-type(4) div p{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    section:nth-of-type(4) img:nth-of-type(2){
        order: 3;
    }

    section:nth-of-type(4) div:nth-of-type(2){
        order: 4;
    }

    section:nth-of-type(4) img:nth-of-type(4){
        order: 7;
    }

    section:nth-of-type(4) div:nth-of-type(4){
        order: 8;
    }

    /* FOOTER */

    form{
        width: 100%;
    }

    input[type="email"],
    input[type="submit"]{
    width: 90%;
    }
    footer article{
    text-align: center;
    }
}