@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --anthrazit: #0b0c17;
    --red: #ff3571;
    --lightgrey: #dddddd;
    --blue: #3C30FF;
    --white: #FFF;
    --black: #000;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

h1{
    font-size: 1.25rem;
    font-weight: 500;
}

h2{
    font-size: 3rem;
    font-weight: 500;
}

header p,
footer p{
    font-size: 1.15rem;
}

/* ===== HEADER ===== */

header{
    background-image: url(../img/ilustracion1.png);
    background-size: 50%;
    background-position: top right;
    background-repeat: no-repeat;
    min-height: 90vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
}

header h2{
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 15px;
    width: 50%;
}

header p:not(.logo p){
    padding-left: 60px;
    width: 50%;
}

header span img{
    height: 1.25rem;
}

header a{
    padding-left: 60px;
    padding-top: 2rem;
}

.logo{
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 20px;
    padding-top: 20px;
}

.logo img{
    width: 35px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.logo h1{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    padding-bottom: 1.25rem;
}

.logo p{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 0.75rem;
}

.moving-guy img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes jump {
    100%{
        transform: translateY(10px);
    }
}

/* ===== MAIN ===== */

